<h3>Matches </h3>
  <ul style="list-style-type:none;padding-left:0px"> 
    <li>
      <div style="float:left;width:130px;">Jugado</div>
      <div style="float:left;width:150px;">Local</div>
      <div style="float:left;width:60px;">Goles</div>
      <div style="float:left;width:60px;">Goles</div>
      <div style="float:left;width:150px;">Visitante</div>
    </li><br />
    <li>
      <%= @teams %>      
    </li><br />
  </ul>
