<h3>new team</h3>

<%= error_messages_for :teams %>

<% form_for :team, :url => teams_path do |f| %>
  <%= render :partial => "form", :locals => { :f => f} %>
<% end %>

<br />

<%= link_to 'teams', teams_path %>
