<h3>new team</h3>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= error_messages_for 'team' %>

<% form_for :team, :url => teams_path do |f| %>
  <%= render :partial => "form", :locals => { :f => f} %>
<% end %>

<br />

<%= link_to 'teams', teams_path %>
