/*****************************************************************************/
/**************************** ESTILOS GENERALES ******************************/
/*****************************************************************************/
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, table, form, fieldset {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
  font: 12px Verdana;
	background: #30787e;
	text-align: left;
 	}

a:link, a:visited {color: #7D7D7D; text-decoration: none;}

.content {
  margin: auto;
  border-left: 3px solid black;
  border-right: 3px solid black;
  width: 900px;
  z-index: 0px;
}
.content h2 {
  margin: 10px 0 0 0;
}
.title {
  background-color: #307E36;
  height: 75px;
  width: 100%;
  float:left;
}
.title h1 {
  margin: 0;
  padding: 16px 32px 0 0;
  text-align: right;
  font-style: oblique;
}

.nav {
  background-color: #086B00;
  width: 100%;
  float: left;
}
.yield {
  padding: 10px;
  float: left;
  width: 880px;
  margin: 0;
  background-color: white;
  min-height: 400px;
}
.yield hr {
  width: 90%;
  margin-left:0;
}
.footer {
  height: 75px;
  padding: 10px;
  clear: both;
  margin: 0;
  background-color: #307E36;
  border-top: 2px solid black;
}
.splitter {
  clear: both;
}
.border_top_container {
  background: #307E36;
  margin: auto;
  margin-top: 20px;
  width: 906px;
  height: 20px;
}
.border_bottom_container {
  margin: auto;
  margin-bottom: 20px;
  background: #307E36;
  height: 20px;
  width: 906px;
}
.border_top_left {
  background: url("/images/ctl.gif") no-repeat;
  z-index: 200;
  width: 20px;
  height: 20px;
}
.border_top_right {
  background: url("/images/ctr.gif") no-repeat;
  z-index: 200;
  width: 20px;
  height: 20px;
}
.border_bottom_left {
  background: url("/images/cbl.gif") no-repeat;
  z-index: 200;
  width: 20px;
  height: 20px;
}
.border_bottom_right {
  background: url("/images/cbr.gif") no-repeat;
  z-index: 200;
  width: 20px;
  height: 20px;
}
.middle_border_top {
  border-top: 3px solid black;
  width: 866px;
}
.middle_border_bottom {
  border-bottom: 3px solid black;
  width: 866px;
  height: 17px;
}

/*****************************************************************************/
/**************************** ERROR STYLES ***********************************/
/*****************************************************************************/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0 ;
}
#errorExplanation h2 {
  visibility: hidden;
  font-size: 10px;
  padding: 5px;
  margin: -15px;
}
#errorExplanation p {
  color: red;
  font-size: 12px;
  margin-bottom: 0;
  padding: 5px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*****************************************************************************/
/**************************** SYSTEM MESSAGES ********************************/
/*****************************************************************************/

.notice {
  margin: 5px;
  padding: 5px 5px 5px 15px;
  background-color: #48cccd;
  border: 1px solid black;
  font-size: 10px;
  width: 400px;
}
.msg {
  text-align: center;
  background-color: #9DA358;
  padding: 10px;
}

/*****************************************************************************/
/**************************** TEAM TO TOURNAMENT *****************************/
/*****************************************************************************/
#excluded {
  margin: 0;
  padding: 5px;
  border: 2px solid #8B2B23;
  width: 175px;
  float: left;
  min-height: 266px;
}

#included {
  margin-left: 10px;
  width: 676px;
  float: left;
}
#teamslist {
  border: 2px solid #307E36;
  margin-bottom: 10px;
  height: 150px;
  padding: 5px;
}
#eliminator {
  text-align: center;
  width: 672px;
  color: grey;
  float: left;
  height: 100px;
  border: 2px solid red;
}
.excluded_teams, .competitors {
  width: 140px;
  float: left;
}

.new_navigation ul {
  line-height: 200%;
}
.new_navigation ul li {
	font-weight: bold;
	list-style-type: none;
	float: left;
	margin-right: 15px;
	margin-left: 10px;
	color: #c3d6e1;
}
.new_navigation a {
  font-weight: bold;
  color: white;
}
.new_nav_top {
  border-bottom: 1px solid #333333;
}
/*****************************************************************************/
/******************************** TABLEs *************************************/
/*****************************************************************************/
.left { float: left; }
.right { float: right; }
.table_column100 { width: 100px; }
.table_column300 { width: 300px; }
