<h3>excluded teams</h3>
<% for team in @excluded %>
  <div id="team_<%= team.to_param %>" class="excluded_teams">
    <%= team.short_name.capitalize %>
    <%= draggable_element "team_#{team.to_param}", :revert => true,
                                              :success => "Element.remove",
                                              :failure => "Element.revert" %>
  </div>
<% end %>
