<h3>included teams</h3>
<% for team in @included %>
  <div id="team_<%= team.id %>" class="competitors"><%= team.short_name.capitalize %></div>
  <%= draggable_element "team_#{team.id}", :revert => true, :success => "Element.hide" %>
<% end %>
<%= "Drop teams here." if @included.empty? %>
