<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <title>
      Futbol Stats
    </title>
    <%= stylesheet_link_tag 'fpt' %>
    <%= javascript_include_tag :all %>
  </head>
  <body>
    <div id="content">
      <div id="title">
        <h1>
          <%= link_to "FutStat.", root_path, :style => "color:black;" %>
        </h1>
      </div>
      <div id="yield">
        <%= yield :layout %>
      </div>
      <div id="footer" class="footer">
        Footer vieja!
      </div>
    </div>
  </body>
</html>
